/* styles.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(/images/pexels-8moments-1183099.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    color: #5c5b5b;
}

p{
    color: #f7f7f7;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #333;
    padding: 10px 20px;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #f1c40f;
}
.main-container {
   
    background-size: cover;
    background: #ffffff;
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.form-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.form-container {
    padding: 40px;
    display: none;
    text-align: center;
    background: #666666;
}

.form-container.active {
    display: block;
}

h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #faf7f7;
}

.subheading {
    margin-bottom: 30px;
    font-size: 16px;
    color: #f9f8f8;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    color: #faf6f6;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    background: #f7f7f7;
    transition: 0.3s ease-in-out;
}

.input-group input:focus {
    border-color: #2575fc;
    background: #fff;
}

.btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);    color: #faf6f6;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);}

.switch-form {
    margin-top: 20px;
    font-size: 14px;
}

.switch-form a {
    color: #2575fc;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.switch-form a:hover {
    color: #6a11cb;
}
