@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,400&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}

:root{
    --container-color: #1a1e21;
    --second-color: rgba(77, 228, 255);
    --text-color: #185b18;
    --bg-color: rgb(126, 123, 123);
}

a{
    text-decoration: none;
}

/*li{
    list-style: none;
}*/
h1{
    color: var(--second-color);
    margin-left: 15%;
    margin-top:20px;
    font-size: 3rem;
}
.logoimg{
    width: 300px;
    border-radius: 50%;
    transition: ease-out 0.5s;
}
.logoimg:hover{
    border: 5px solid var(--second-color);

}

section{
    padding: 4rem 0 2rem;
}

.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

a{
    color: #fff;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

.logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--second-color);
}

.login{
    padding: 8px 14px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 4px;
    background: var(--second-color);
    color: var(--bg-color);
}

.login:hover{
    background: hsl(199, 98%, 56%);
    transition: .5s;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

.box{
  max-width: 400px;
  width: 100%;
  align-items: center;
  align-content: center;
  margin-left: 600px;
  margin-bottom: 20px;
}
.box .search-box{
  position: relative;
  height: 50px;
  max-width: 50px;
  margin:auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  transition: all 0.3s ease;
}
#check:checked ~ .search-box{
  max-width: 380px;
}
.search-box input{
 position: absolute;
 height: 100%;
 width: 100%;
 border-radius: 25px;
 background: white;
 outline: none;
 border: none;
 padding-left: 20px;
 font-size: 18px;
}
.search-box .icon{
  position: absolute;
  right: -2px;
  top: 0;
  width: 50px;
  background: #FFF;
  height: 100%;
  text-align: center;
  line-height: 50px;
  color: var(--second-color);
  font-size: 20px;
  border-radius: 25px;
}
#check:checked ~ .search-box .icon{
  background: var(--second-color);
  color: #FFF;
  width: 60px;
  border-radius: 0 25px 25px 0;
}
#check{
  display: none;
}
#placeholder{
    color: black;
}
.home{
    width: 100%;
    background:url(/images/download.jpeg);
    justify-content: center;
    align-items: center;
}

.home-text{
    color: var(--second-color);
    text-align: center;
}

.home-title{
    font-size: 3.5rem;
    transition: ease-in-out 0.5s;

}

.home-subtitle{
    font-size: 1rem;
    font-weight: 400;
    transition: ease-in-out 0.3s;

}
.home-title:hover{
    color: var(--second-color);
}
.home-subtitle:hover{
    color: var(--second-color);
}


.post-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    margin-top: 2rem ;
    margin-bottom: 2rem;
}

.filter-item{
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
    padding: 5px;
    transition: ease-in-out 0.2s;
}
.filter-item:hover{
    background-color: var(--second-color);
}

.active-filter{
    background: var(--second-color);
    color: var(--bg-color);
    padding: 4px 10px;
    border-radius: 4px;
} 


.post{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    justify-content: center;
    gap: 1.5rem;
    margin-top: 10px;
}


.post-box{
    background: var(--bg-color);
    padding: 15px;
    border-radius: 0.5rem;
}

.post-img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
    transition: ease-in-out 0.3s;
}
.post-img:hover{
    filter: grayscale(100%);
}

.category{
    margin-top: 5px;
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--second-color);
}

.post-title{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-color);
    overflow: hidden;

}

.post-date{
    display: flex;
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-top: 4px;
    font-weight: 400;
}

.post-description{
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 5px 0 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--second-color);
}

.profile-name{
    font-size: .8rem;
    font-weight: 500;
}
.sliderbody{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    margin:20px;
    margin-bottom: 100px;
}
.container2{
    max-width: 1400px;
    width: 95%;
 }
 .slider-wrapper{
    position: relative;
 }
.slider-wrapper .slide-button{
    position: absolute;
    top:50%;
    height:50px;
    width:50px;
    color:#fff;
    border: none;
    outline: none;
    background: #000;
    font-size: 2.2rem;
    border-radius: 50%;
    transform:translateY(-50%);
}
.slider-wrapper .slide-button:hover{
    background: #444;
}
.slider-wrapper .slide-button#prev-slide{
    left: -20px;
}
.slider-wrapper .slide-button#next-slide{
    right: -20px;
}
 
 .slider-wrapper .image-list{
     display:grid;
     gap:18px;
     font-size: 0;
     margin-bottom: 30px;
     overflow-x: auto;
     scrollbar-width: none;
     grid-template-columns: repeat(12,1fr);
 }
 
 .slider-wrapper .image-list::-webkit-scrollbar{
    display: none;

}
 .slider-wrapper .image-list .image-item{
     width:325px;
     height:300px;
     object-fit:cover;
     border-radius: 20px;

 }
 
 
 .container2 .slider-scrollbar{
     height:24px;
     width:100%;
     background: white;
     display: flex;
     align-items:center;
 }
 .slider-scrollbar .scrollbar-track{
     height: 2px;
     width:100%;
     background: white;
     position: relative;
     border-radius: 4px;
     
 }
 .slider-scrollbar:hover .scrollbar-track{
     height: 4px;
 }
 .slider-scrollbar .scrollbar-thumb{
     position: absolute;
     height: 100%;
     width:50%;
     background: black;
     border-radius: inherit;
     cursor: grab;
 }
 .slider-scrollbar .scrollbar-thumb:active{
     cursor:grabbing;
     height: 8px;
     top:-2px;
 }
 .slider-scrollbar .scrollbar-thumb::after{
     content:"";
     position: absolute;
     left: 0;
     right: 0;
     top: -10px;
     bottom: -10px;
 }
 .section-title {
    text-align: center;
    font-size: 32px;
    color: #ffcc00;
    margin: 50px 0 20px;
}

.section-subtitle {
    text-align: center;
    font-size: 18px;
    color: #ccc;
    max-width: 600px;
    margin: 0 auto 40px;
}

/* Cards for places */
.places-container {
    display: grid;
    gap: 30px;
    padding: 0 20px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

}

.place-card {
    background-color: #333;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.place-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.place-card img {
    width: 100%;
    height: auto;
    display: block;
}

.place-content {
    padding: 10px;
    color: #cccccc;
}

.place-title {
    font-size: 24px;
    color: #ffcc00;
    margin-bottom: 10px;
}
 @media(max-width: 1023px){
    .slider-wrapper .slide-button{
    display:none 
 }
    .slider-wrapper .image-list{
        gap:10px;
        margin-bottom: 15px;
    }
    .slider-wrapper .image-list .image-item{
        width:280px;
        height:380px;
    }
    .slider-scrollbar .scrollbar.thumb{
        width:20%;
    }
}
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    margin-top: 3rem;
    background: #111;
    display: flex;
    font-family: sans-serif;
    justify-content: center;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;

}

.footer-container .sec{
    margin-right: 30px;
}

.footer-container .sec.aboutus{
    width: 40%;
}

.footer-container h2{
    position: relative;
    color: var(--bg-color);
    margin-bottom: 15px;
}

.footer-container h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: rgb(77, 228, 255);
}

footer p{
    color: var(--bg-color);

}

.sci{
    margin: 20px;
    display: flex;
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    transition: .5s;
}

.sci li a:hover{
    background: rgb(77, 228, 255);
}

.sci i a .bx{
    color: #fff;
    font-size: 20px;
}

.quicklinks{
    position: relative;
    width: 25%;
}

.quicklinks ul li{
    list-style: none;
}

.quicklinks ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    transition: .3s;
}

.quicklinks ul li a:hover{
    color: #fff;
}

.footer-container .contactBx{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contactBx .info{
    position: relative;
}

.contactBx .info li{
    display: flex !important;
    margin-bottom: 16px;
}

.contactBx .info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contactBx .info li span{
    color: #999;
}

.contactBx .info li a{
    color: #999;
    text-decoration: none;
    transition: .5s;
}

.contactBx .info li a:hover{
    color: #fff;
}
/* Default Styling (Mobile-first approach) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.home-title {
    font-size: 2rem; /* Default size */
    text-align: center;
    margin: 0 auto;
}


@media (max-width: 1060px){
    .container{
        margin: 0 auto;
        width: 95%;
    }

    .home-text{
        width: 100%
    }
}

@media (max-width: 768px){
    .nav{
        padding: 5px 0;
    }

    section{
        padding: 2rem 0 !important;
    }

    .header-content{
        margin-top: 3rem !important;
    }

    .home{
        min-height: 380px;
    }

    .home-title{
        font-size: 3rem;
    }

    .header-title{
        font-size: 2rem;
    }

    .header-img{
        height: 370px;
    }

    img{
        width: 90%;
        margin:0;
    }

    .post-header{
        height: 435px;
    }

    .post-header{
        margin-top: 9rem !important;
    }
}

@media (max-width: 570px){
    .post-header{
        height: 390px;
    }

    .header-title{
        width: 100%;
    }

    .header-img{
        height: 340px;
    }
    .post-filter{
        margin:0;
        padding:7px;

    }
}

@media (max-width: 396px){
    .home-title{
        font-size: 2rem;
    }

    .home-subtitle{
        font-size: 0.9rem;
    }

    .home{
        min-height: 300px;
    }

    .post-box{
        padding: 10px;
    }

    .header-title{
        font-size: 1.4rem;
    }

    .header-img{
        height: 240px;
    }

    .post-header{
        height: 335px;
    }

    .header-img{
        height: 340px;
    }
}

/* Footer Media Query */
@media (max-width: 991px){
    footer{
        padding: 40px;
        font-size: 20px;
    }

    footer .footer-container{
        flex-direction: column;
    }

    footer .footer-container .sec{
        margin-right: 0;
        margin-bottom: 40px;
    }

    footer .footer-container .sec.aboutus{
        width: 100% !important;
    }

    footer .footer-container .quicklinks{
        width: 100%;
    }

    footer .footer-container .contactBx{
        width: 100%;
    }
}
/* Responsive adjustments */
@media (max-width: 768px) {
    .features-container {
        flex-direction: column;
        align-items: center;
    }
}